@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Mona Sans", serif;
  }

body {
    margin: 0;
    padding: 0;
    background: #f6f8fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login-box {
    text-align: center;
}

.login-box h1, h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-box .point {
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.extra-options {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding-bottom: 10px;
}

.password-forgorted {
    display: flex;
    justify-content: space-between;
}

.keep-logged-in {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    padding-bottom: 10px;
}

input[type="checkbox"] {
    accent-color: #555;

}

.signup-option {
    font-size: 14px;
    padding: 20px 0;
}

.signup-option a, .password-forgotten a {
    color: var(--primary-color);
    text-decoration: none;
}


.signup-option a:hover, .password-forgotten a:hover {
    text-decoration: underline;
}


.input-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background: var(--primary-color);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.login-button:hover {
    background: var(--primary-hover-color);
}